*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 24px 0;
  }

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 24px;
}

.container img{
    max-width: 420px;
    width: 100%;
}


button{
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid maroon;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: maroon;
    transition: all 0.25s ease;
}

button:hover{
    background-color: maroon;
    color: white;
}


/* Mobile View */

@media  screen and (max-width: 576px) {
    body{
        padding: 0 25px;
    }

    .container img{
        max-width: 100%;  
    }

    button{
        padding: 6px 16px;
        font-size: 12px;
    
    }
    
}

/* tablet view */

@media  screen and (min-width: 576.01px) and (max-width: 992px) {
    body{
        padding: 0 20px;
    }

    .container img{
        max-width: 380px;
        width: 100%;
    }
    
}

