*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px auto;
}

button{
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid maroon;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: maroon;
    transition: all 0.25s ease;
}

button:hover{
    background-color: maroon;
    color: white;
}


/* Mobile View */

@media  screen and (max-width: 576px) {
    body{
        padding: 0 30px;
    }

    .container{

    }

    button{
        padding: 8px 18px;
        font-size: 14px;
    }
    
}
